[submodule "tests/plugins/DevTools"]
	path = tests/plugins/DevTools
	url = https://github.com/UnnamedNetwork/DevTools.git
[submodule "src/pocketmine/lang/locale"]
	path = src/pocketmine/lang/locale
	url = https://github.com/UnnamedNetwork/Language.git
