
[submodule "tests/plugins/DevTools"]
	path = tests/plugins/DevTools
	url = https://github.com/pmmp/DevTools/
[submodule "resources/locale"]
	path = resources/locale
	url = https://github.com/UnnamedNetwork/Language
[submodule "build/php"]
	path = build/php
	url = https://github.com/pmmp/php-build-scripts/
[submodule "build/preprocessor"]
	path = build/preprocessor
	url = https://github.com/pmmp/preprocessor/
[submodule "resources/vanilla"]
	path = resources/vanilla
	url = https://github.com/pmmp/BedrockData
